@mixin common {
  * {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    font-family: "Microsoft YaHei", "Helvetica Neue", Helvetica, "PingFang SC", "Hiragino Sans GB", Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    margin: 0;
    padding: 0;
  }
}

@mixin a-common {
  a {
    cursor: pointer;
    text-decoration: none;
    border: none;
    -webkit-tap-highlight-color: rgba(255, 255, 255, 255);
    -webkit-tap-highlight-color: transparent;
    outline: none;
  }

  a:link,
  a:hover,
  a:active,
  a:visited {
    text-decoration: none;
  }
}

@mixin ul-common {
  ul {
    list-style: none;
  }
}

// Color
$color-fff: #ffffff;
$font-color-6: #666666;
$font-color-1: #47d3ed;
$font-color-2: #369ec1;
$font-color-3: #32e6ef;

// 背景
@mixin diy-bg($img, $posX, $posY, $color: transparent) {
  background: $color url(../assets/img/#{$img}) no-repeat $posX $posY;
}
@mixin diyBg-relative($path, $img, $posX, $posY, $color: transparent) {
  background: $color url(#{$path}assets/img/#{$img}) no-repeat $posX $posY;
}
@mixin bg-color($color) {
  background-color: $color;
}
@mixin bg-color-transparent($color, $alpha) {
  background-color: rgba($color, $alpha);
}

// flex
@mixin flex {
  display: flex;
  display: -webkit-flex;
}
@mixin flex-column {
  flex-direction: column;
  -ms-flex-direction: column;
}
@mixin flex-primary-axis-between {
  justify-content: space-between;
}
@mixin flex-primary-axis-center {
  justify-content: center;
}
@mixin flex-primary-axis-end {
  justify-content: flex-end;
}
@mixin flex-secondary-axis-center {
  align-items: center;
}
@mixin flex-secondary-axis-end {
  align-items: flex-end;
}
@mixin flex-wrap {
  flex-wrap: wrap;
}

// 旋转
@mixin transform-rotate($deg) {
  transform: rotate($deg * 1deg);
  -ms-transform: rotate($deg * 1deg);
  -moz-transform: rotate($deg * 1deg);
  -webkit-transform: rotate($deg * 1deg);
  -o-transform: rotate($deg * 1deg);
}

// 重写element样式
// checkbox
@mixin el-checkbox {
  .el-checkbox {
    margin-right: 0px;
  }
  
  .el-checkbox.is-bordered {
    border: none;
  }
}
// option
@mixin el-option {
  .el-select-dropdown {
    border: 1px solid #1c70af;
    color: $color-fff;
    text-align: left;
    padding-bottom: 5px;
    background: rgba(0, 11, 55, 0.8);

    .el-select-dropdown__item {
      border-bottom: 1px solid #002c3e;
      color: $font-color-2;
      font-weight: 100;
    }

    .el-select-dropdown__item.hover,
    .el-select-dropdown__item:hover {
      background: rgb(1, 95, 132);
    }

    .popper__arrow,
    .popper__arrow::after {
      border-bottom-color: #002c3e !important;
      border-top-color: #002c3e !important;
    }
  }
}


//表格
@mixin el-table {
  .el-table {
    background-color: transparent !important;
    overflow: hidden;

    &.el-table--border {
      border-width: 0;

      .table_header_cell {
        background-color: #001e72;
        border-bottom: solid 1px #102d79;
        border-right: solid 1px #102d79;
        color: $color-fff;
      }
      .table_cell {
        border-bottom: solid 1px #102d79;
        border-right: solid 1px #102d79;
      }
    }
    .table_row {
      background-color: #002fb0;
      color: $color-fff;
    }
    .table_row_stripe {
      background-color: #002fb0;
      color: $color-fff;
    }
    // 强制更改当前行，高亮行背景色
    .el-table--striped .el-table__body tr.el-table__row--striped.current-row td,
    .el-table__body tr.current-row > td,
    .el-table__body tr.hover-row.current-row > td,
    .el-table__body tr.hover-row.el-table__row--striped.current-row > td {
      background-color: #0d7495 !important;
    }
    .el-table__body tr.hover-row.el-table__row--striped > td,
    .el-table__body tr.hover-row > td {
      background-color: #0d7495 !important;
    }
    // 强制更改排序按钮颜色
    .sort-caret.ascending {
      border-bottom-color: #acadae !important;
    }
    .sort-caret.descending {
      border-top-color: #acadae !important;
    }
    .ascending .sort-caret.ascending {
      border-bottom-color: #0d7495 !important;
    }
    .descending .sort-caret.descending {
      border-top-color: #0d7495 !important;
    }
    th.is-leaf {
      border-bottom-width: 0;
    }
    // 更改暂无数据最小高度
    .el-table__empty-block {
      background-color: #002fb0;
      min-height: 36px;

      .el-table__empty-text {
        color: $color-fff;
        line-height: 36px;
        min-height: 36px;
      }
    }
  }
  .el-table__fixed:before,
  .el-table__fixed-right:before {
    background-color: transparent !important;
  }
  .el-table--border::after,
  .el-table--group::after,
  .el-table::before {
    background-color: transparent !important;
  }
  .el-table th,
  .el-table tr {
    background-color: transparent;
  }
  .el-table__fixed-right-patch {
    background-color: transparent;
    border-bottom: solid 1px transparent;
  }
  .el-table--border th.gutter:last-of-type {
    border-bottom: solid 1px transparent;
  }
  // 滚动条样式
  /*定义滚动条高宽及背景 高宽分别对应横竖滚动条的尺寸*/
  .el-table--scrollable-y .el-table__body-wrapper::-webkit-scrollbar,
  .el-table--scrollable-x .el-table__body-wrapper::-webkit-scrollbar {
    background-color: transparent;
    height: 6px;
    width: 6px;
  }
  /*定义滚动条轨道 内阴影+圆角*/
  .el-table--scrollable-y .el-table__body-wrapper::-webkit-scrollbar-track,
  .el-table--scrollable-x .el-table__body-wrapper::-webkit-scrollbar-track {
    border-radius: 100px;
    background-color: transparent;
    // box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  }
  /*定义滑块 内阴影+圆角*/
  .el-table--scrollable-y .el-table__body-wrapper::-webkit-scrollbar-thumb,
  .el-table--scrollable-x .el-table__body-wrapper::-webkit-scrollbar-thumb {
    border-radius: 100px;
    background-color: rgba(144, 147, 153, 0.3);
    // box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  }
  /*定义边角，即两个滚动条的交汇处*/
  .el-table--scrollable-y .el-table__body-wrapper::-webkit-scrollbar-corner,
  .el-table--scrollable-x .el-table__body-wrapper::-webkit-scrollbar-corner {
    background-color: transparent;
  }
}

// 分页
@mixin el-pagination {
  .el-pagination {
    padding: 0;
    color: $color-fff;
    // 修改总数字体颜色
    .el-pagination__total {
      color: $color-fff;
    }
    // 修改选择每页多少条select样式
    .el-pagination__sizes {
      margin: 0 0 0 10px;

      .el-select {
        .el-input {
          margin: 0;
          width: 80px;
          // select高度
          .el-input__inner {
            height: 100%;
          }
          // 图标
          .el-input__suffix {
            .el-input__suffix-inner {
              @include flex;
              @include flex-primary-axis-center;
              @include flex-secondary-axis-center;
              height: 100%;

              .el-input__icon {
                line-height: 0;
              }
            }
          }
        }
      }
    }
    // 上一页下一页
    .btn-prev,
    .btn-next {
      background-color: transparent !important;
      color: $color-fff !important;
      margin: 0 !important;
    }
    .btn-prev:disabled,
    .btn-next:disabled {
      background-color: transparent !important;
      color: #002c3e !important;
      margin: 0 !important;
    }
    // 页码
    .el-pager {
      li {
        margin: 0 !important;
        background-color: transparent !important;
        color: #47d3ed !important;
      }
      li.active {
        background-color: transparent !important;
        color: $color-fff !important;
      }
    }
    // 前往第n页
    .el-pagination__jump {
      margin-left: 0;
      color: $color-fff;
    }
  }
  // .el-pagination.is-background .btn-prev,
  // .el-pagination.is-background .btn-next,
  // .el-pagination.is-background .el-pager li {
  //   border-top: 1px solid #318db3;
  //   border-bottom: 1px solid #318db3;
  //   font-weight: 100;
  //   color: #35adf0 !important;
  //   margin: 0px !important;
  //   background: none !important;
  // }

  // .el-pagination.is-background .btn-prev {
  //   border-left: 1px solid #318db3;
  //   border-radius: 2px 0px 0px 2px !important;

  // }

  // .el-pagination.is-background .btn-next {
  //   border-left: 1px solid #318db3;
  //   border-right: 1px solid #318db3;
  //   border-radius: 0px 2px 2px 0px !important;
  // }

  // .el-pagination.is-background .el-pager li {
  //   border-left: 1px solid #318db3;
  //   border-radius: 0px !important;
  // }

  // .el-pagination.is-background .el-pager li.active {
  //   background-color: #3eb3e6 !important;
  //   color: #fff !important;
  // }
}