@mixin common {
  * {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    font-family: "Microsoft YaHei", "Helvetica Neue", Helvetica, "PingFang SC", "Hiragino Sans GB", Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    margin: 0;
    padding: 0;
  }
}

@mixin a-common {
  a {
    cursor: pointer;
    text-decoration: none;
    border: none;
    -webkit-tap-highlight-color: rgba(255, 255, 255, 255);
    -webkit-tap-highlight-color: transparent;
    outline: none;
  }

  a:link,
  a:hover,
  a:active,
  a:visited {
    text-decoration: none;
  }
}

@mixin ul-common {
  ul {
    list-style: none;
  }
}

// Color
$color-fff: #ffffff;
$font-color-6: #666666;
$font-color-1: #47d3ed;
$font-color-2: #369ec1;
$font-color-3: #32e6ef;

// 背景
@mixin diy-bg($img, $posX, $posY, $color: transparent) {
  background: $color url(../assets/img/#{$img}) no-repeat $posX $posY;
}
@mixin diyBg-relative($path, $img, $posX, $posY, $color: transparent) {
  background: $color url(#{$path}assets/img/#{$img}) no-repeat $posX $posY;
}
@mixin bg-color($color) {
  background-color: $color;
}
@mixin bg-color-transparent($color, $alpha) {
  background-color: rgba($color, $alpha);
}

// flex
@mixin flex {
  display: flex;
  display: -webkit-flex;
}
@mixin flex-column {
  flex-direction: column;
  -ms-flex-direction: column;
}
@mixin flex-primary-axis-between {
  justify-content: space-between;
}
@mixin flex-primary-axis-center {
  justify-content: center;
}
@mixin flex-primary-axis-end {
  justify-content: flex-end;
}
@mixin flex-secondary-axis-center {
  align-items: center;
}
@mixin flex-secondary-axis-end {
  align-items: flex-end;
}
@mixin flex-wrap {
  flex-wrap: wrap;
}

// 旋转
@mixin transform-rotate($deg) {
  transform: rotate($deg * 1deg);
  -ms-transform: rotate($deg * 1deg);
  -moz-transform: rotate($deg * 1deg);
  -webkit-transform: rotate($deg * 1deg);
  -o-transform: rotate($deg * 1deg);
}

// 重写element样式
// checkbox
@mixin el-checkbox {
  .el-checkbox {
    margin-right: 0px;
  }
  
  .el-checkbox.is-bordered {
    border: none;
  }
}

//表格
@mixin el-table {
  .el-table,
  .el-table__expanded-cell {
    background: none;
  }

  .el-table--border,
  .el-table--group {
    border: solid 1px #102d79;
  }

  .el-table::before,
  .el-table__fixed-right::before,
  .el-table__fixed::before {
    height: 0;
  }

  .el-table--border::after,
  .el-table--group::after {
    width: 0;
  }
  
  .el-table__empty-text {
    color: $color-fff;
  }
  
  .el-table {
    &.el-table--border {
      .table_header_cell {
        background-color: #001e72;
        border-bottom: solid 1px #102d79;
        border-right: solid 1px #102d79;
        color: $color-fff;
      }

      .table_cell {
        border-bottom: solid 1px #102d79;
        border-right: solid 1px #102d79;
      }

      .table_cell_first {
        border-left: solid 1px #102d79;
      }

      .table_cell_last {
        border-right: solid 1px #102d79;
      }
    }

    .table_header_cell {
      background-color: #002fb0;
      color: $color-fff;
    }

    .table_row {
      background-color: #002fb0;
      color: $color-fff;
    }

    .table_row_stripe {
      background-color: #002fb0;
      color: $color-fff;
    }

    // 强制更改当前行，高亮行背景色
    .el-table--striped .el-table__body tr.el-table__row--striped.current-row td,
    .el-table__body tr.current-row>td,
    .el-table__body tr.hover-row.current-row>td,
    .el-table__body tr.hover-row.el-table__row--striped.current-row>td {
      background-color: #002996 !important;
    }

    .el-table__body tr.hover-row.el-table__row--striped>td,
    .el-table__body tr.hover-row>td {
      background-color: #002996 !important;
    }

    // 强制更改排序按钮颜色
    .sort-caret.ascending {
      border-bottom-color: #cecece !important;
    }

    .sort-caret.descending {
      border-top-color: #cecece !important;
    }

    .ascending .sort-caret.ascending {
      border-bottom-color: #3eb3e6 !important;
    }

    .descending .sort-caret.descending {
      border-top-color: #3eb3e6 !important;
    }

    // 更改暂无数据最小高度
    .el-table__empty-block {
      min-height: 100px;
    }
  }

  //滚动条的宽度
  ::-webkit-scrollbar {
    width: 4px;
    height: 10px;
  }
  //滚动条的滑块
  ::-webkit-scrollbar-thumb {
    background-color: #102d79;
    border-radius: 3px;
  }
}